          <!--
          <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% if include.limit and site.announcements.limit %}
              {% assign news_limit = site.announcements.limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %}
                <tr>
                  <th><span class="font-weight-bold {{item.color}}">{{ item.date | date: "%b %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>

        -->

        <div class="news">
          <div class="table-responsive" >
            <table class="no-spacing table-borderless">
            <!--
              <tr>
                <th><span class="font-weight-bold indigo-text">November 2023</th>
                <td>
                  [MonSolAI activity] <a href="https://www.univ-guyane.fr/2023/12/06/luniversite-de-guyane-explore-de-nouvelles-collaborations-au-laboratoire-inesc-id-a-lisbonne/">Meeting at INESC-ID (Lisbon)</a>.
                </td>
              </tr>
            -->

              
              <tr>
                <th><span class="font-weight-bold indigo-text">January 2025</th>
                <td>
                  [MonSolAI activity] Meeting at UG.
                </td>
              </tr>
              <tr>
                <th><span class="font-weight-bold indigo-text">November 2024</th>
                <td>
                  <a href="https://fr.linkedin.com/posts/marie-jose-gauthier-a0a3296a_une-belle-occasion-pour-montrer-ce-qui-est-activity-7259967428095307776-fKE6">Participation at the ISPRS Commission III midterm symposium.</a>
                </td>
              </tr>

              <!--
              <tr>
                <th><span class="font-weight-bold green-text">May 2023</th>
                <td>
                  AIBSI fund for the Airfungui project.
                </td>
              </tr>
            -->


            </table>
          </div>
        </div>

        