
<!-- people.html -->
<style type="text/css">
    p {margin-bottom: 0em;  margin-top: 0em;} 
</style>

    <p>&nbsp;</p>
    <h2>PhD students</h2>
    <table class="no-spacing table-borderless">
            
        <tr>
            <th><span class="font-weight-bold">01/2024 - </span></th>
            <td>Mrs. M. <i>Airfungui</i>, TBIP.</td>
        </tr>
    
        <tr>
            <th><span class="font-weight-bold">09/2024 - </span></th>
            <td> Mr. T. <i>Urban heat islands study on Guiana Shield</i>, UMR Espace Dev (French Guiana).</td>
        </tr>

    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


    <h2>Trainees</h2>
    <table class="no-spacing table-borderless">
            
        <tr>
            <th><span class="font-weight-bold">01/2024 - </span></th>
            <td>Mr. B. <i>Irradiance estimation program conversion from C to Python</i>, UMR Espace Dev (French Guiana).</td>
        </tr>
        
        <tr>
            <th><span class="font-weight-bold">01/2024 - </span></th>
            <td>Mr. P. <i>Automatisation of irradiance estimation program</i>, UMR Espace Dev (French Guiana).</td>
        </tr>
    
        
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h2>Others</h2>
    <table class="no-spacing table-borderless">
            
        <tr>
            <th><span class="font-weight-bold">2022</span></th>
            <td> <p>1-year engineer fixed-term contrat</p>
                <p>Mr. I. <i>Urban heat islands study on French Guiana</i>, UMR Espace Dev (French Guiana).</p>
                <p> <font size="-1">Key words: Remote sensing, MODIS.</font></p>
            </td>
        </tr>
        
        
    
        

    </table>




