---
layout: default
---

<!-- projects.html -->

  
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {{ page.title }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
        </header>
      
        <article>
          

          <!-- Local projects -->
          <div class="post">
            <h2>Local/Regional projects</h2>
            {%- include local_projects.html %}
          </div>
            

          
        </article>

</div>
